<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{{ url_for('add_movie') }}">
    <label>Название</label>
    <input type="text" name="name">
    <label>Описание</label>
    <input type="text" name="description">
    <label>Рейтинг</label>
    <input name="generalRating">
    <label>Продолжительность</label>
    <input name="length">
    <label>Изображение</label>
    <input name="src">
    <h2>Genres:</h2>
    {% for genre in genres %}
        <div>
            {% if genre in movies.genres %}
                <input class="form-check-input" type="checkbox"
                       id="gcb{{ genre.id }}"
                       value="{{ genre.id }}" name="gcb{{ genre.id }}" checked>
                <label class="form-check-label" for="gcb{{ genre.id }}">
                    {{ genre.name }}
                </label>
            {% else %}
                <input class="form-check-input" type="checkbox"
                       id="gcb{{ genre.id }}"
                       value="{{ genre.id }}" name="gcb{{ genre.id }}">
                <label class="form-check-label" for="gcb{{ genre.id }}">
                    {{ genre.name }}
                </label>
            {% endif %}
        </div>
    {% endfor %}
    <td>
        <button type="submit" class="btn btn-primary mb-3">Добавить</button>
</form>
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Рейтинг</th>
        <th>Продолжительность</th>
        <th>Изображение</th>
        <th>Жанры</th>

    </tr>
    </thead>
    {% for movie in movies %}
        <tbody>
        <tr>
            <td>
                <input type="text" value="{{ movie.name }}" name="name">
            </td>
            <td>
                <input type="text" value="{{ movie.description }}" name="description">
            </td>
            <td>
                <input type="text" value="{{ movie.generalRating }}" name="generalRating">
            </td>
            <td>
                <input type="text" value="{{ movie.length }}" name="length">
            </td>
            <td>
                <input type="text" value="{{ movie.src }}" name="src">
            </td>
            <td>
                {% for genre in genres %}
                    {% if genre in movie.genres %}
                        <label>
                            {{ genre.name }}
                        </label>
                    {% endif %}
                {% endfor %}
            </td>
        </tr>
        </tbody>
    {% endfor %}
</table>
</body>
</html>