<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ url_for('add_city') }}" method="POST">
    <div>
        <label for="name" class="form-label">Город</label>
        <input type="text" class="form-control" id="name" aria-describedby="name" name="name" required>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Добавить</button>
</form>

<table>
    <thead>
    <tr>
        <th scope="col">Название</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
        <tr>
                <form method="post" action="{{ url_for('change_city') }}">
                    <td>
                        <input type="text" value="{{ city.name }}" name="name">
                    </td>
                    <td>
                        <input type="hidden" value="{{ city.id }}" name="city_id">
                        <button>Изменить</button>
                    </td>
                </form>
                <td>
                    <form method="post" action="{{ url_for('delete_city') }}">
                        <input type="hidden" value="{{ city.id }}" name="city_id">
                        <button>Удалить</button>
                    </form>
                </td>
            </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>