<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ url_for('add_role') }}" method="POST">
    <div>
        <label for="name" class="form-label">Роль</label>
        <input name="name">
    </div>
    <button type="submit" class="btn btn-primary mb-3">Добавить</button>
</form>

<table>
    <thead>
    <tr>
        <th scope="col">Название</th>
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
        <tr>
            <form method="post" action="{{ url_for('change_role') }}">
                <td>
                    <input type="text" value="{{ role.name }}" name="name">
                </td>
                <td>
                    <input type="hidden" value="{{ role.id }}" name="role_id">
                    <button>Изменить</button>
                </td>
            </form>
            <td>
                <form method="post" action="{{ url_for('delete_role') }}">
                    <input type="hidden" value="{{ role.id }}" name="role_id">
                    <button>Удалить</button>
                </form>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</body>
</html>
