<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <th>Изображение</th>
    <th>Название</th>
    <th>Описание</th>
    <th>Длина</th>
    <th>Жанры</th>
    <th>Перейти</th>
    <th>Убрать</th>
    </thead>
    <tbody>
    {% for favourite in user.favorites %}
        <tr>

            <td>
                <img src="{{ favourite.src }}" name="src">
            </td>
            <td>
                <input type="text" value="{{ favourite.name }}" name="name">
            </td>
            <td>
                <input type="text" value="{{ favourite.description }}" name="description">
            </td>
            <td>
                <input type="text" value="{{ favourite.length }}" name="length">
            </td>
            <td>
                {% for genre in genres %}
                    {% if genre in favourite.genres %}
                        <label>
                            {{ genre.name }}
                        </label>
                    {% endif %}
                {% endfor %}
            </td>
            <td>
                <input type="hidden" value="{{ favourite.id }}" name="movie_id">
                <a href="{{ url_for('show_movie', movie_id=favourite.id) }}">
                    <button>перейти</button>
                </a>
            </td>
            <td>
                <form method="post" action="{{ url_for('delete_from_favorite') }}">
                    <input type="hidden" value="{{ favourite.id }}" , name="movie_id">
                    <button type="submit">удалить</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>