<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{{ url_for('add_user') }}" method="POST">
    <div>
        <label for="name" class="form-label">User</label>
        <label>mail</label>
        <input name="email">
        <label>password</label>
        <input name="password">
        <label>nick</label>
        <input name="nickname">
        <label>src</label>
        <input name="src">
        <label>city</label>
        <input list="datalistOptions" name="city_name">
        <datalist id="datalistOptions">
            {% for city in cities %}
                <option value="{{ city.name }}">
            {% endfor %}
        </datalist>
        <label>role</label>
        <input list="datalistOptions1" name="role_name">
        <datalist id="datalistOptions1">
            {% for role in roles %}
                <option value="{{ role.name }}">
            {% endfor %}
        </datalist>
    </div>
    <button type="submit" class="btn btn-primary mb-3">Добавить</button>
</form>

    <table>
        <thead>
        <tr>
            <th scope="col">почта</th>
            <th scope="col">пароль</th>
            <th scope="col">nick</th>
            <th scope="col">src</th>
            <th scope="col">city</th>
            <th scope="col">role</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <form method="post" action="{{ url_for('change_user') }}">
                    <td>
                        <input type="text" value="{{ user.email }}" name="email">
                    </td>
                    <td>
                        <input type="text" value="{{ user.password }}" name="password">
                    </td>
                    <td>
                        <input type="text" value="{{ user.nickname }}" name="nickname">
                    </td>
                    <td>
                        <input type="text" value="{{ user.src }}" name="src">
                    </td>
                    <td>
                        <input list="datalist" value="{{ user.city.name }}" name="city_name">
                        <datalist id="datalist">
                            {% for city in cities %}
                                <option value="{{ city.name }}">
                            {% endfor %}
                        </datalist>
                    </td>
                    <td>
                        <input list="datalist1" value="{{ user.role.name }}" name="role_name">
                        <datalist id="datalist1">
                            {% for role in roles %}
                                <option value="{{ role.name }}">
                            {% endfor %}
                        </datalist>
                    </td>
                    <td>
                        <input type="hidden" value="{{ user.id }}" name="user_id">
                        <button>Изменить</button>
                    </td>
                </form>
                <td>
                    <form method="post" action="{{ url_for('delete_user') }}">
                        <input type="hidden" value="{{ user.id }}" name="user_id">
                        <button>Удалить</button>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</body>
</html>